<!--
 * @Author: 夏开尧
 * @Description: file content
 * @Date: 2019-11-12 15:55:28
 * @LastEditTime: 2019-12-02 15:47:07
 * @LastEditors: 夏开尧
 * @UpdateLogs: logs
 -->
<!DOCTYPE html>
<html>
<head>
	<title>动态组件切换选项卡2</title>
</head>
<body>
	<div id="app">
		<div>
			<a href="" @click.prevent="componentName='com-html'">html</a>
			<a href="" @click.prevent="componentName='com-css'">css</a>
			<a href="" @click.prevent="componentName='com-js'">js</a>
			<component :is="componentName"></component>
		</div>
	</div>
	
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
	let ComHtml={
		template:"<p>我是html</p>"
	}
	let ComCss={
		template:"<p>我是css</p>"
	}
	let ComJs={
		template:"<p>我是js</p>"
	}//定义组件对象
	let app = new Vue({
		el:'#app',
		data:{
			componentName:"com-html"
		},
		components:{
			ComHtml,
			ComCss,
			ComJs
		}//注册组件	
	})
</script>
</html>

